/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
  columns {
    compatible = "gpio-columns";
    column1: column1 {
      gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
      label = "Column1";
    };
    column2: column2 {
      gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
      label = "Column2";
    };
  };
  rows {
    compatible = "gpio-rows";
    row1: row1 {
      gpios = <&gpio2 10 GPIO_ACTIVE_HIGH>;
      label = "Row1";
    };
  };
  aliases {
    rhs-column-dir = &rhs_column_dir;
    rhs-rows = &rhs_rows;
    rhs-columns = &rhs_columns;
    column1 = &column1;
    column2 = &column2;
    row1 = &row1;
  };
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
    label = "ZEPHYR CONSOLE";
	};
};

&lpuart6 {
  status = "disabled";
};

&lpi2c1 {
  status = "okay";
  rhs_column_dir: rhs_column_dir@20 {
    compatible = "rhs-register";
    reg = <0x20>;
    label = "IO direction config register for the rows register";
  };
  rhs_rows: rhs_rows@13 {
    compatible = "rhs-register";
    reg = <0x13>;
    label = "Register for rows output GPIO";
  };
  rhs_columns: rhs_colums@12 {
    compatible = "rhs-register";
    reg = <0x12>;
    label = "Register for columns input GPIO";
  };
};

